@* If Session does not contains login credentials then this dashboard page is renders  *@
@{
    ViewBag.Title = "Thanks";
}
<body>
    <h2 class="text-center text-danger"> You Are Not Login! Please Login Again </h2>
</body>