@* Customers partial view renders only if customer is logged in system to show customers menus *@
<ul id="sidebarnav">
    <li>
        <a class="waves-effect waves-dark" href="@Url.Action("ViewDetails","BanksCustomer", new { accountNumber = Session["AccountNumber"] })" aria-expanded="false"><i class="fa fa-money"></i><span class="hide-menu">My Account Details</span></a>
    </li>
    <li>
        <a class="waves-effect waves-dark" href="@Url.Action("CheckTransactionPassword", "BanksCustomer", new { accountNumber = Session["AccountNumber"] })" aria-expanded="false"><i class="fa fa-money"></i><span class="hide-menu">Transfer Amount</span></a>
    </li>
    <li>
        <a class="waves-effect waves-dark" href="@Url.Action("ChangePassword", "BanksCustomer", new { accountNumber = Session["AccountNumber"] })" aria-expanded="false"><i class="fa fa-user-circle-o"></i><span class="hide-menu">Change Password</span></a>
    </li>  
</ul>