@model IEnumerable<WebApplicationMVCPractice.Common.LoginDetails>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-danger"><marquee style=direction ="left" height="80px"></h2>
Download & Register YONO to access all your Banking and Lifestyle needs. Know More.
  Online Banking Management System.</marquee></h2>

<img src="~/Assets/images/internet-banking-1- - Copy.jpg" alt="123" />